header {
  height: 100px;
}

.top-bar {
  height: 100%;
  display: flex;
  align-items: center;
}

.search-button,
.page-name,
.search {
  display: flex;
  justify-content: center;
}

.home-page {
  flex-direction: column;
}

.home-button {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hidden {
  display: none;
}

.search-box {
  width: 67%;
  height: 75px;
}

.search {
  width: 100%;
  flex-direction: row;
}

.switch-submit {
  width: 64%;
  display: flex;
  justify-content: space-between;
}

.data-outline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data {
  width: 30%;
}

.data > p {
  display: flex;
  justify-content: center;
}

.carousel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.third {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-data {
  flex-direction: column;
  align-items: center;
}

.dots {
  display: flex;
  justify-content: center;
}
