* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.orange {
  padding: 1% 25%;
  margin-top: 4%;
}

.top-bar,
.back {
  margin-left: 5%;
}

.back {
  margin-top: 1%;
}

input.orange {
  margin-top: 0;
}

.switch-submit {
  margin: 2% 18%;
}

.switch {
  padding: 1% 8%;
}

.submit {
  padding: 1% 3%;
}
